/* @font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/proxima-nova-light.otf") format("opentype");
} */

:root {
  --font-family-sans-serif: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif;
  --primary-color: #061622;
  --secondary-color: #8ed6fb;
  --border-color: #93989bbe;
  --icons-color: #969899;
  --background-color: #e6f0f5be;
  --edit-color: #fffeca;
}

body {
  font-family: var(--font-family-sans-serif);
  color: var(--primary-color);
}

h1 {
  text-align: center;
}

h2 {
  margin: 0;
  font-weight: 300;
  font-style: oblique;
}

.container {
  max-width: 480px;
  margin: auto;
}

form {
  display: flex;
  width: 100%;
  border: 1px solid var(--border-color);
  background-color: white;
  padding-right: 5px;
}

#new-item {
  flex-grow: 1;
  padding: 15px 5px;
  font-style: italic;
  border: none;
}

#new-item-btn {
  width: 20px;
  background-image: url('./img/document-export.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 0;
  background-color: white;
  padding-right: 5px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-right: -7px;
  margin-bottom: 50px;
}

li {
  display: flex;
  border: 1px solid var(--border-color);
  padding-left: 5px;
  align-items: center;
}

.checkbox {
  margin-right: 10px;
}

.description {
  flex-grow: 1;
  font-weight: 200;
  display: flex;
  justify-content: space-between;
}

.li-btn {
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  margin-right: 5px;
  padding: 0;
}

.bin {
  background-image: url('./img/recycle-bin-line.svg');
  height: 24px;
  width: 21px;
}

.bin:hover {
  cursor: pointer;
}

.v-dots {
  background-image: url('./img/3-vertical-dots.svg');
  height: 24px;
  width: 5px;
  margin-right: 12px;
}

.hidden {
  display: none;
}

.completed {
  text-decoration: line-through;
  font-style: italic;
  color: var(--icons-color);
}

.edit-mode {
  background-color: var(--edit-color);
}

.clear-completed {
  display: block;
  margin: 15px auto;
  color: var(--border-color);
}

.clear-completed:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--primary-color);
}
